

.label {
    min-width: 150px;
    text-align: right;
    padding-right: 5px;
    height: 25px;
}

.input {
    text-align: right;
    min-width:152px;
    flex: 1;
}

.input-left {
    text-align: right;
    flex:none;
    margin-right: 2px;
    max-width:50px;
}

.input-right {
    text-align: right;
    min-width: 100px;
    flex: 1;
}

input[type=number] {
    -moz-appearance: textfield;
}

.Zone {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    max-width: 450px;
    padding-top: 5px;
    
}

.navbar {
    background-color: #B21515;
}

h3 {
    padding-left:5px;
    background-color: #D5D1D1;
}

.separator{
    border:solid 1px black;
    
}

@media (min-width: 451px) {
    .long {
        display: inline-block;
    }

    .short {
        display: none;
    }
}

@media (max-width: 450px) {
    /* CSS that should be displayed if width is equal to or less than 440px goes here */
    .long {
        display: none;
    }

    .short {
        display: inline-block;
    }
}